<head>
    <meta charset="utf-8">
    <title>Local Voices - Square Mile Songs</title>
    <meta name="description" content="Square Mile Songs">
    <meta name="author" content="Local Voices">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="icon" type="image/x-icon" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      
    <![endif]-->
  
            <!-- get google maps api js -->    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAzET-39HzlKX0COpiHgR2BBJFU8PZV8vo&sensor=true&libraries=places"> </script>  
        <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>

    <!-- get jquery js -->
			<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.7.1.min.js')}}"></script>

	<!-- get the localvoices js -->
			<script type="text/javascript" src="{{url_for('static', filename='js/localvoices.js')}}"></script>
	    <!-- get the page js -->
        <script type="text/javascript" src="{{url_for('static', filename='js/buttons.js')}}"></script>		
    <!-- get the page js -->
        <script type="text/javascript" src="{{url_for('static', filename='js/site.js')}}"></script>

    <!-- this is where we can incorporate any css files -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/localvoices.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">

</head>

