  <header id="masthead" class="site-header" role="banner">
		<div class="site-branding clear">
			<h1 class="site-title">Square Mile Songs</h1>
			
		<nav id="site-navigation" class="main-navigation" role="navigation">
			<ul id="nav">
			
			 	<li id="singers-a-z">Singers A-Z</li>
			 	<li id="songs-a-z"> Songs A-Z </li>
			 	<li><a href="/admin">Manage Listings</a> </li>
			 	<li><span id="advanced_search">Advanced Search</span></li>

			</ul>
			
		
		</nav><!-- #site-navigation -->

		
  </header>
